<div class="customers-container">
  <h1>Customers</h1>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{ customer.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{ customer.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{ customer.phone }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company_id">
      <mat-header-cell *matHeaderCellDef> Company ID </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{ customer.company_id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company_multiplier">
      <mat-header-cell *matHeaderCellDef> Multiplier </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{ customer.company_multiplier }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stamps">
      <mat-header-cell *matHeaderCellDef> Stamps </mat-header-cell>
      <mat-cell *matCellDef="let customer"> {{ customer.stamps }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
</div>
